@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pokemons-container{

  @apply items-center w-full  grid h-full;

  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

}

/* Estilo general de la scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

/* Estilo del track (pista) de la scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Estilo del thumb (control deslizante) de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #FA812E; /* Color del thumb */
  border-radius: 6px; /* Radio de borde del thumb */
}

/* Estilo del thumb cuando se encuentra en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb en hover */
}
